.env
.ini

# Ignore all content in the src directory, but track electrify_subgraph2
/src/*
!/src/electrify_subgraph.py
!/src/logger_setup.py
!/src/optimization_logging.py
!/src/SOCP_class_dnr.py
!/src/create_testval.py
!/src/cvxpy_SOCP.py

/data_generation/*
/data_generation/old/*
!/data_generation/define_ground_truth.py
!/data_generation/create_dataset.py
!/data_generation/*.slurm

/scripts/
/optimization/
/notebooks/
/Enexis/
/Enexis_info/

/data/**
/network_cache/


.cache
.poetry.lock
.pyproject.toml
*.png
/data_generated/

# In data_used, ignore all files, then explicitly track selected ones (placeholders)
/data_used/*
#!/data_used/cbs_pc6_2023.gpkg
#!/data_used/output/*


/socp_lingkang/*
/socp_lingkang/src/*

*.txt
/models/
/model_search/models/MLP/config_files/*.yaml
/model_search/models/cvx/config_files/*.yaml

# ignore all PyTorch checkpoints
*.pt
/GNN_reconfiguration/
/model_search/data/
/wandb/

**/__pycache__/
*.ipynb

model.*

*.lp 
*.ilp

**/*.yaml
# 3) …except keep YAMLs in model_search/config_files/
!model_search/config_files/*.yaml
__pycache__/
*.pyc
